{% extends 'base.html.twig' %}

{% block title %}Détails Type{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h1 class="h3 mb-0 text-white">Détails du type</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="w-25 bg-light">Id</th>
                        <td>{{ type.id }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Libellé</th>
                        <td>{{ type.libelle }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Usage image</th>
                        <td>{{ type.imageUsageLabel }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex gap-2 mt-4">
                <a href="{{ path('app_type_index') }}" class="btn btn-secondary">
                    &larr; Retour à la liste
                </a>
                <a href="{{ path('app_type_edit', {'id': type.id}) }}" class="btn btn-warning text-white">
                    Modifier
                </a>
                {{ include('type/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
