{% extends 'base.html.twig' %}

{% block title %}Enigme index{% endblock %}

{% block body %}
    <h1>Enigme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ordre</th>
                <th>Titre</th>
                <th>Consigne</th>
                <th>Code Secret</th>
                <th>Vignettes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enigme in enigmes %}
            <tr>
                <td>{{ enigme.id }}</td>
                <td>{{ enigme.ordre }}</td>
                <td>{{ enigme.titre }}</td>
                <td>{{ enigme.consigne }}</td>
                <td>{{ enigme.codeSecret }}</td>
                <td>
                    {% if enigme.vignette %}
                        <img src="{{ asset(enigme.vignette.image | replace({'public/': ''})) }}" alt="{{ enigme.vignette.information }}" width="50">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_enigme_show', {'id': enigme.id}) }}">Voir</a>
                    <a href="{{ path('app_enigme_edit', {'id': enigme.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enigme_creer') }}">Implémenter une énigme</a>
{% endblock %}
